name: CI/CD

on:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  ci-cd:
    name: CI/CD
    uses: StudioLE/Actions/.github/workflows/ci-cd-bevy.yml@v7
    with:
      binary_name: konstruo
      assets_repo_name: StudioLE/KonstruoWeb
      assets_repo_path: assets
      wasm_bindgen_version: 0.2.105
    secrets:
      cargo_registry_token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
      assets_repo_token: ${{ secrets.WEB_REPO_TOKEN }}
      web_repo_token: ${{ secrets.WEB_REPO_TOKEN }}
